@import "tailwindcss";
:root {
  font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
}
.input {
  @apply w-full px-3 py-2 border rounded-md disabled:bg-gray-100 disabled:cursor-not-allowed ;
}
